.App{
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
}
.search{
  display: flex;
  margin-bottom: 30px;
}
.btn-primary{
  margin-left: 5px;
}
.search__input{
  padding: 5px;
  width: 100%;
}
.main{
  margin: 50px 0;
}
.main__preloader{
  margin-top: 20px;
  text-align: center;
}
.main img{
  max-width: 50px;
}

.cadast-number{
  cursor: pointer;
  min-width: 200px;
}
.cadast-number:hover{
  font-weight: 500;
  text-decoration: underline;
}
.my-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.my-modal__content{
  padding: 25px;
  background: white;
}
.encumbrance p{
  display: inline-block;
}
.modal span{
  font-weight: bold;
}